:root {
  --Primary: #5d50c6;
  --Secondary: #f85e9f;
  --Black: #191825;
  --Dark: #222831;
  --Black50: rgba(25, 24, 37, 0.5);
  --Light: #eee;
  --Orange: #ff5722;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "CircularStd-Bold"; /* todo */
  line-height: 1.6;
  font-size: 1.6rem;
  overflow-x: hidden;
}

/* 

    --> Reset Style <-- 

*/
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
/* 

  --> Helper Class <--
.primaryHover:hover
*/
.primaryHover {
  overflow: hidden;
}
.primaryHover::after {
  content: "";
  width: 30%;
  height: 100%;
  background-color: var(--Light);
  transform: skewX(-20deg);
  position: absolute;
  right: 120%;
  transition: all 0.2s;
}
.primaryHover:hover::after {
  right: -100%;
}

.primaryBtn {
  background-color: var(--Primary);
  color: var(--Light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pinkyText {
  color: var(--Secondary);
}
/* 

    --> App Style <--

*/
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* header */
.header {
  position: relative;
  display: inline;
}
.navbar__svg {
  position: absolute;
  top: -40rem;
  left: -40rem;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  opacity: 0.5;
  background: var(--Orange);
  filter: blur(250px);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2rem 0;
  z-index: 99;
  backdrop-filter: blur(0.4rem);
  border-radius: 4rem;
}

.navbar__left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Black);
}
.logo__img {
}
.logo__name {
  margin-left: 1.6rem;
  font-size: 2.4rem;
  font-family: "CircularStd-Black";
}
.hamburger-btn {
  background-color: var(--Primary);
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
}
.hamburger-btn__line {
  width: 55%;
  height: 8%;
  background-color: #fff;
  border-radius: 1rem;
  position: absolute;
  transition: all 0.2s;
}
.hamburger-btn__line:nth-child(1) {
  top: 25%;
}
.hamburger-btn__line:nth-child(3) {
  bottom: 25%;
}
.hamburger-btn:hover .hamburger-btn__line {
  width: 60%;
}
.hamburger-btn--active .hamburger-btn__line:nth-child(1) {
  top: 50%;
  bottom: 50%;
  transform: rotate(45deg);
}
.hamburger-btn--active .hamburger-btn__line:nth-child(2) {
  opacity: 0;
}
.hamburger-btn--active .hamburger-btn__line:nth-child(3) {
  bottom: 50%;
  top: 50%;
  transform: rotate(-45deg);
}

.menu {
  background-color: #fff;
  min-width: 20rem;
  width: 100%;
  max-width: 40rem;
  position: absolute;
  top: 100%;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: all 0.2s;
  border-radius: 4rem;
  border: 1px solid var(--Light);
  visibility: hidden;
}
.menu--active {
  visibility: visible;
  height: 50rem;
}
.openMenuCover {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(0.4rem);
  z-index: 2;
}
.openMenuCover--active {
  display: block;
}
.menu__item {
  margin: 6rem;
}
.menu__link {
  padding: 0.4rem;
  color: var(--Black50);
}
.menu__link--active {
  color: var(--Dark);
}
.menu__link:hover {
  text-decoration: underline;
}
.entry {
  display: flex;
  max-width: 22rem;
  margin: auto;
  padding-bottom: 6rem;
}
.entry__btn {
  padding: 1.5rem 3rem;
  border-radius: 10rem;
}
.entry__btn--login {
}
.entry__btn--login:hover {
  text-decoration: underline;
}
.entry__btn--signup {
}
.entry--mobile {
}
.entry--tablet {
  display: none;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem 0;
  text-align: center;
}
.hero__baner {
}
.hero__img {
  width: 100%;
}
.hero__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__explor {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;

  padding: 1.6rem 3.2rem;
  gap: 1.6rem;
  border-radius: 10rem;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
}
.hero__title {
  max-width: 39rem;
  font-size: 4rem;
  line-height: 4.8rem;
  margin: 1.6rem 0 2.4rem;
}
.hero__txt {
  max-width: 39rem;
  color: var(--Black50);
  line-height: 2.5rem;
}
.hero__btn__wrapper {
  gap: 2.4rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: 3.2rem 0;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem 3.2rem;
  gap: 0.8rem;
  border-radius: 10rem;
}
.hero__btn--primary {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
}
.hero__btn--watch {
  background-color: #fff;
  border: 0.1rem solid var(--Light);
  transition: all 0.3s;
}
.hero__btn--watch:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
}
.hero__btn--watch svg {
  transition: all 0.3s;
}
.hero__btn--watch:hover svg {
  transform: rotate(1turn) scale(1.2);
}

.header__shape {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: -3rem;
}

/* brands */

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  position: relative;
  padding: 3.2rem 0;
}
.brands__img {
  width: 30%;
}
.brands__shape {
  position: absolute;
  right: -70rem;
  top: -35rem;
  z-index: -1;
}

/* services */
.services {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3.2rem;
}
.services__wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services__txt {
  letter-spacing: 0.32rem;
  text-transform: uppercase;
}
.services__title {
  font-size: 3.2rem;
  color: var(--Black);
  margin: 1.6rem 0 3.2rem;
}
.services__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 3.2rem 0;
}
.services__item {
  display: flex;
  padding: 3.2rem;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  border-radius: 3.2rem;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
  transition: all 0.2s;
}
.services__item--active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}
.services__item__img {
}
.services__item__title {
  font-size: 2.4rem;
}
.services__item__desc {
  font-family: "Inter";
  font-size: 1.8rem;
  line-height: 2.88rem;
  color: var(--Black50);
}

/* explore */
.explore {
  padding: 3.2rem 0rem;
}
.explore__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.explore__wrapper-text {
}
.explore__txt {
  letter-spacing: 0.32rem;
  text-transform: uppercase;
}
.explore__title {
  font-size: 3.2rem;
  margin-top: 1.6rem;
}
.explore__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.2rem 0;
}
.explore__pre {
}
.explore__next {
}
.explore__btn {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 1px solid rgba(25, 24, 37, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.explore__btn--active {
  background: var(--primary, #5d50c6);
}

.explore__slider-wrapper {
  overflow: hidden;
  padding: 10rem;
  margin: -10rem;
}
.explore__slider {
  display: flex;
  width: 400%;
  gap: 25%;
  transition: all 0.5s;
}
.explore__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  width: 25%;
}
.explore__card {
  width: 100%;
  height: 57.5rem;
  border-radius: 3.2rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
.explore__image {
  width: 100%;
  max-height: 34.2rem;
  overflow: hidden;
}
.explore__img {
  width: 100%;
}
.explore__detailes {
  padding: 3.2rem;
}
.explore__price {
}
.explore__destination {
  font-size: 2.3rem;
}
.explore__location {
  color: rgba(25, 24, 37, 0.75);
  font-family: Inter;
  font-size: 1.8rem;
  margin-top: 1.6rem;
}
.explore__star {
  color: var(--Orange);
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.8rem;
  margin-top: 3.2rem;
}

/* travel */
.travel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
  margin-top: 3.2rem;
}
.travel__img {
  width: 100%;
}
.travel__wrapper {
  text-align: center;
}
.travel__desc {
  position: relative;
}
.travel__txt {
  letter-spacing: 0.32rem;
  text-transform: uppercase;
}
.travel__title {
  font-size: 3.2rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
.travel__detaile {
  font-family: Inter;
  line-height: 2.56rem;
  color: var(--Black50);
}
.travel__shape {
  display: none;
  position: absolute;
  right: -3rem;
  bottom: -4rem;
  width: 7rem;
  height: 7rem;
}

.travel__items {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
  gap: 1.6rem;
}
.travel__item {
  padding: 3.2rem;
  border-radius: 3.2rem;
  border: 1px solid rgba(25, 24, 37, 0.1);
  background: #fff;
}
.travel__item__number {
  color: var(--Orange);
  font-size: 3.5rem;
}
.travel__item__name {
  font-family: Inter;
  font-size: 1.8rem;
}

/* offer */
.offer {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
  gap: 6.4rem;
  text-align: center;
}
.offer__banner {
}
.offer__img {
  width: 100%;
}
.offer__desc {
}
.offer__text {
  letter-spacing: 0.32rem;
  text-transform: uppercase;
}
.offer__title {
  font-size: 3.2rem;
  margin-top: 1.6rem;
}
.offer__detaile {
  font-family: Inter;
  color: var(--Black50);
  margin: 3.2rem 0;
}

.offer__items {
}
.offer__item {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  background: #fff;
  border-radius: 3.2rem;
  text-align: left;
  gap: 3.2rem;
}
.offer__item:nth-child(2) {
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.offer__item__image {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer__item__image--orange {
  background: var(--Orange);
}
.offer__item__image--yellow {
  background: #facd49;
}
.offer__item__image--pink {
  background: var(--Secondary);
}
.offer__item__title {
  margin-bottom: 0.8rem;
  font-size: 2.3rem;
}
.offer__item__detaile {
  font-family: Inter;
  font-size: 1.8rem;
  color: var(--Black50);
}

/* animations */
