@font-face {
  font-family: "CircularStd-Black";
  src: url("../fonts/Circular/CircularStd-Black.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Bold";
  src: url("../fonts/Circular/CircularStd-Bold.otf") format("opentype");
}
@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/Circular/CircularStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}
