@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .navbar__left {
    width: 50%;
  }
  .navbar__left {
    flex-direction: row-reverse;
  }
  .menu--active {
    height: 39rem;
  }
  .entry--mobile {
    display: none;
  }
  .entry--tablet {
    display: flex;
    padding-bottom: 0;
    margin: 0;
  }
  /* hero */
  .hero {
    gap: 6.4rem;
    padding: 6.4rem 0;
  }
  .hero__title {
    max-width: 58rem;
    font-size: 5.6rem;
    margin: 4.3rem 0;
    line-height: 6.7rem;
  }
  .hero__txt {
    font-size: 1.8rem;
    max-width: 44rem;
    line-height: 2.8rem;
  }
  .hero__btn__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4.3rem 0;
  }

  .header__shape {
    display: block;
  }

  /* brands */
  .brands__img {
    width: auto;
  }

  /* services */
  .services {
    padding: 6.4rem 0;
  }
  .services__txt {
    font-size: 2.3rem;
  }
  .services__title {
    font-size: 4rem;
    margin-bottom: 6.4rem;
  }
  .services__items {
    flex-direction: row;
    padding: 0;
  }
  .services__item {
    width: 33%;
  }
  .services__item__title {
    font-size: 2.8rem;
    padding-top: 3.2rem;
  }

  /* explore */

  .explore__buttons {
    justify-content: center;
    gap: 3.2rem;
  }
  .explore__txt {
    font-size: 2.3rem;
  }
  .explore__title {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .hamburger-btn {
    display: none;
  }
  .navbar__left {
    flex-direction: row;
    width: 66%;
  }
  .menu {
    display: flex;
    background-color: transparent;
    height: auto;
    flex-direction: row;
    position: static;
    transform: translateX(0);
    visibility: visible;
    border: none;
  }
  .menu__item {
    margin: 1rem;
    width: fit-content;
  }
  .openMenuCover {
    display: none;
  }

  /* hero */
  .hero {
    gap: 0;
    flex-direction: row-reverse;
    text-align: left;
  }
  .hero__desc {
    align-items: start;
  }
  .hero__title {
    font-size: 6.9rem;
    line-height: 8.2rem;
  }

  .header__shape {
    left: -6.5rem;
    bottom: 0;
  }
  /* brands */
  .brands {
    justify-content: space-around;
  }
  /* services */
  .services__title {
    font-size: 4.4rem;
  }

  /* explore */
  .explore__wrapper {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 6.4rem;
  }
  .explore__title {
    font-size: 4.4rem;
  }

  .explore__cards {
    flex-direction: row;
  }
  .explore__image {
    height: 31.4rem;
  }
  .explore__img {
    width: auto;
  }
  .explore__buttons {
    margin: 0;
  }
  .explore {
    padding: 6.4rem 0rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .explore__img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
  /* services */
  .services {
    flex-direction: row;
  }
  .services__wrapper-title {
    text-align: left;
    align-items: flex-start;
  }
  .services__title {
    margin: 0;
  }
}
